body {
    background-color: hsl(0, 0%, 0%);
    color: #f5f5f5;
    border: 3px #f5f5f5 solid;
    width: 1000px;
    margin: auto;
    padding: 25px 50px;
}


h1 {
    text-align: center;
}

hr {
    color: teal;
    background-color: teal;
    height: 2px;
    border-width: 0px;
}


#fit {
    height: auto;
    width: 600px;
    text-align: center;
}